[submodule "external/RayTracingDenoiser"]
	path = external/RayTracingDenoiser
	url = https://github.com/NVIDIAGameWorks/RayTracingDenoiser.git
[submodule "external/Opacity-MicroMap-SDK"]
	path = external/Opacity-MicroMap-SDK
	url = https://github.com/NVIDIAGameWorks/Opacity-MicroMap-SDK.git
[submodule "donut/nvrhi"]
	path = donut/nvrhi
	url = https://github.com/NVIDIAGameWorks/nvrhi.git
[submodule "external/RTXDI"]
	path = external/RTXDI
	url = https://github.com/NVIDIAGameWorks/RTXDI.git
	branch = sdk-only
[submodule "external/Streamline"]
	path = external/Streamline
	url = https://github.com/NVIDIAGameWorks/Streamline.git
[submodule "external/NVAPI"]
	path = external/NVAPI
	url = https://github.com/NVIDIA/nvapi.git
[submodule "media"]
	path = media
	url = https://github.com/NVIDIAGameWorks/Path-Tracing-SDK-Media
