build*/
.vscode/
media/
*.tlog
**/Debug
CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
#**/spirv/*.bin
**/dxil/*.bin
**/dxbc/*.bin
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.gitattributes
.vs/donut/*/.suo
/.vs
media
**/*_d3d11.dir/*
**/*_d3d12.dir/*
**/*_vk.dir/*
**/Release/*
